var New_Comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$('#comments').prepend(New_Comment);
$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#New_Comment')[0].reset();